<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Шаблон</title>
  <meta name="theme-color" content="">
  <meta name="viewport" content="initial-scale=1.0, width=device-width">
  <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700%7COswald:400,500,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css" media="none" onload="media = 'all'">
  <link rel="stylesheet" href="css/main.css">
</head>
<body class="a-header">
//= blocks/header.html
<main>
  <section class="breadcrumbs">
    <h2 class="visually-hidden">Хлебные крошки</h2>
    <ul class="breadcrumbs__list list-style-none">
      <li class="breadcrumbs__item"><a href="">Главная</a></li>
      <li class="breadcrumbs__item"><a href="">Проекты</a></li>
    </ul>
  </section>
  <section class="layout">
    <section class="about-preview btn">
      <div class="l">
        <div class="txt">О компании</div>
        <div class="img" style="background-image: url(img/about.jpg)"></div>
      </div>
      <div class="r">
        <div class="bg__txt">GALEX.INC</div>
        <h1>Строительная компания "Galex.inc"  -
          это строительство домов и коттеджей в г. Новороссийске под ключ. </h1>
        <p>Идейные соображения высшего порядка, а также новая модель организационной деятельности позволяет выполнять. </p>
        <p>Идейные соображения высшего порядка, а также новая модель организационной деятельности позволяет выполнять важные задания по разработке систем массового участия. Товарищи! дальнейшее развитие различных форм. </p>
        <a href="" class="main__btn">Оставить заявку</a>
      </div>
    </section>
    <ul class="about__list list-style-none">
      <li class="about__item"><a href="#about">о нас</a></li>
      <li class="about__item"><a href="#projects">наши проекты</a></li>
      <li class="about__item"><a href="#principles">наши принципы</a></li>
      <li class="about__item"><a href="#geography">география домов</a></li>
    </ul>
    <section class="about" id="about">
      <h2 class="about__title">о galex.inc</h2>
      <p>С другой стороны начало повседневной работы по формированию позиции позволяет оценить значение направлений прогрессивного развития. Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий требуют определения и уточнения направлений прогрессивного развития. С другой стороны сложившаяся структура организации способствует подготовки и реализации форм развития. Не следует, однако забывать, что укрепление и развитие структуры играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач.</p>
    </section>
    <section class="about-projects" id="projects">
      <h2 class="main__title">наши <span>проекты</span></h2>
      <ul class="about-projects__list list-style-none">
        <li><a href="img/about_img.jpg" data-fancybox="group"><img src="img/about_img.jpg" alt=""></a></li>
        <li><a href="img/about_img.jpg" data-fancybox="group"><img src="img/about_img.jpg" alt=""></a></li>
        <li><a href="img/about_img.jpg" data-fancybox="group"><img src="img/about_img.jpg" alt=""></a></li>
        <li><a href="img/about_img.jpg" data-fancybox="group"><img src="img/about_img.jpg" alt=""></a></li>
        <li><a href="img/about_img.jpg" data-fancybox="group"><img src="img/about_img.jpg" alt=""></a></li>
        <li><a href="img/about_img.jpg" data-fancybox="group"><img src="img/about_img.jpg" alt=""></a></li>
      </ul>
    </section>
    <section class="principles" id="principles">
      <h2 class="main__title">наши <span>принципы</span></h2>
      <ul class="principles__list list-style-none">
        <li class="principles__item">
          <span class="principles__item-number">01</span>
          <span class="principles__item-title">Экономия</span>
          <p>Возможность поэтапного внесения оплаты на разных этапах строительства.</p>
        </li>
        <li class="principles__item">
          <span class="principles__item-number">02</span>
          <span class="principles__item-title">Экономия</span>
          <p>Возможность поэтапного внесения оплаты на разных этапах строительства.</p>
        </li>
        <li class="principles__item">
          <span class="principles__item-number">03</span>
          <span class="principles__item-title">Экономия</span>
          <p>Возможность поэтапного внесения оплаты на разных этапах строительства.</p>
        </li>
        <li class="principles__item">
          <span class="principles__item-number">04</span>
          <span class="principles__item-title">Экономия</span>
          <p>Возможность поэтапного внесения оплаты на разных этапах строительства.</p>
        </li>
        <li class="principles__item">
          <span class="principles__item-number">05</span>
          <span class="principles__item-title">Экономия</span>
          <p>Возможность поэтапного внесения оплаты на разных этапах строительства.</p>
        </li>
        <li class="principles__item">
          <span class="principles__item-number">06</span>
          <span class="principles__item-title">Экономия</span>
          <p>Возможность поэтапного внесения оплаты на разных этапах строительства.</p>
        </li>
      </ul>
    </section>
    <section class="geography" id="geography">
      <h2 class="main__title">
        <span>география</span>
        домов
      </h2>
      <p>Если же вы не хотите ждать и готовы переехать уже сейчас, у нас есть готовые дома в коттеджных посёлках, возведённых нами с нуля в районах Анапы и Новороссийска. </p>
      <p>Текущие районы компактной застройки:</p>
      <ul class="geography__list list-style-none">
        <li>Глебовское</li>
        <li>Борисовка</li>
        <li>Семигорский</li>
        <li>Раевская</li>
        <li>Новороссийск</li>
        <li>Анапа</li>
        <li>Натухаевское</li>
      </ul>
    </section>
    <section class="callback">
      <div class="main__title-wrapper">
        <h2 class="main__title">Нажмите <span>на кнопку</span></h2>
        <span class="main__title-shadow">связаться</span>
      </div>
      <form action="#">
        <div class="callback__inner">
          <div class="l">
            <a href="">+7 (777) 777-7777</a>
            <a href="">info@GALEX.COM</a>
            <p>Краснодарский край, Новороссийск</p>
          </div>
          <div class="r">
            <div class="callback__inputs-wrapper">
              <input type="text" class="callback__input" placeholder="Имя">
              <input type="text" class="callback__input" placeholder="Имя">
              <input type="text" class="callback__input" placeholder="Имя">
              <input type="text" class="callback__input" placeholder="Имя">
            </div>
            <textarea cols="30" rows="10" class="callback__textarea" placeholder="Сообщение"></textarea>
          </div>
        </div>
        <button type="submit" class="main__btn">отправить</button>
      </form>
    </section>
  </section>
</main>
//= blocks/footer.html
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
