<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Шаблон</title>
  <meta name="theme-color" content="">
  <meta name="viewport" content="initial-scale=1.0, width=device-width">
  <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700%7COswald:400,500,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
//= blocks/header.html
<main>
  <section class="breadcrumbs">
    <h2 class="visually-hidden">Хлебные крошки</h2>
    <ul class="breadcrumbs__list list-style-none">
      <li class="breadcrumbs__item"><a href="">Главная</a></li>
      <li class="breadcrumbs__item"><a href="">Проекты</a></li>
    </ul>
  </section>
  <a href="media.html" class="back">
    <svg width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.646446 3.64645C0.451184 3.84171 0.451184 4.15829 0.646446 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976311 4.7308 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646446 3.64645ZM15 3.5L8 3.5V4.5L15 4.5V3.5ZM8 3.5L1 3.5V4.5L8 4.5V3.5Z" fill="#7A7A7A"/>
    </svg>
    <span>Назад в раздел статьи</span>
  </a>
  <section class="layout">
    <section class="article">
      <h1>10 ПРИЧИН ПЕРЕЕХАТЬ ЖИТЬ НА ЮГ РОССИИ.</h1>
      <span class="article__date">12 октября 2016</span>
      <div class="article__inner">
        <div class="l">
          <img src="img/article_img.jpg" alt="">
          <p>Задача организации, в особенности же укрепление и развитие структуры позволяет выполнять важные задания по разработке дальнейших направлений развития. С другой стороны дальнейшее развитие различных форм деятельности способствует подготовки.</p>
          <p>Задача организации, в особенности же укрепление и развитие структуры позволяет выполнять важные задания по разработке дальнейших направлений развития. С другой стороны дальнейшее развитие различных форм деятельности способствует подготовки.</p>
          <p>Задача организации, в особенности же укрепление и развитие структуры позволяет выполнять важные задания по разработке дальнейших направлений развития. С другой стороны дальнейшее развитие различных форм деятельности способствует подготовки.</p>
          <p>Задача организации, в особенности же укрепление и развитие структуры позволяет выполнять важные задания по разработке дальнейших направлений развития. С другой стороны дальнейшее развитие различных форм деятельности способствует подготовки.</p>
          <p>Задача организации, в особенности же укрепление и развитие структуры позволяет выполнять важные задания по разработке дальнейших направлений развития. С другой стороны дальнейшее развитие различных форм деятельности способствует подготовки.</p>
          <a href="media.html" class="article__back">
            <svg width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.646446 3.64645C0.451184 3.84171 0.451184 4.15829 0.646446 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976311 4.7308 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646446 3.64645ZM15 3.5L8 3.5V4.5L15 4.5V3.5ZM8 3.5L1 3.5V4.5L8 4.5V3.5Z" fill="#7A7A7A"/>
            </svg>
            <span>В раздел статьи </span>
          </a>
          <div class="article__share">
            <span class="article__share-title">Поделиться:</span>
            <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,viber,whatsapp,skype,telegram"></div>
          </div>
          <ul class="article__list list-style-none">
            <li class="article__item">
              <div class="article__item-inner">
                <div class="lb">
                  <img src="img/review_img.jpg" alt="">
                </div>
                <div class="rb">
                  <div class="article__item-top">
                    <span class="article__item-title">Алексей Нагорный</span>
                  </div>
                  <p>Значимость этих проблем настолько очевидна, что консультация с широким активом позволяет оценить значение систем массового участия. Задача организации, в особенности же консультация.</p>
                  <div class="article__item-bottom">
                    <span class="article__item-date">4 дня назад</span>
                    <a href="" class="article__item-reply">ответить</a>
                  </div>
                </div>
              </div>
              <ul class="article-sub__list list-style-none">
                <li class="article__item">
                  <div class="article__item-inner">
                    <div class="lb">
                      <img src="img/review_img.jpg" alt="">
                    </div>
                    <div class="rb">
                      <div class="article__item-top">
                        <span class="article__item-title">Алексей Нагорный</span>
                        <span class="article__item-reply-title">Алексею Нагорному</span>
                      </div>
                      <p>Значимость этих проблем настолько очевидна, что консультация с широким активом позволяет оценить значение систем массового участия. Задача организации, в особенности же консультация.</p>
                      <div class="article__item-bottom">
                        <span class="article__item-date">4 дня назад</span>
                        <a href="" class="article__item-reply">ответить</a>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li class="article__item">
              <div class="article__item-inner">
                <div class="lb">
                  <img src="img/review_img.jpg" alt="">
                </div>
                <div class="rb">
                  <div class="article__item-top">
                    <span class="article__item-title">Алексей Нагорный</span>
                  </div>
                  <p>Значимость этих проблем настолько очевидна, что консультация с широким активом позволяет оценить значение систем массового участия. Задача организации, в особенности же консультация.</p>
                  <div class="article__item-bottom">
                    <span class="article__item-date">4 дня назад</span>
                    <a href="" class="article__item-reply">ответить</a>
                  </div>
                </div>
              </div>
            </li>
          </ul>

          <form action="" class="callback">
            <textarea name="" id="" cols="30" rows="10" class="callback__textarea" placeholder="Напишите комментарий"></textarea>
            <button type="submit" class="main__btn">отправить</button>

          </form>
        </div>
        <div class="r">
          <ul class="article__more-list list-style-none">
            <li class="article__more-item">
              <a href="">Какие документы проверить у застройщика при покупке квартиры</a>
              <span>12 августа 2016</span>
            </li>
            <li class="article__more-item">
              <a href="">10 ПРИЧИН ПЕРЕЕХАТЬ ЖИТЬ НА ЮГ РОССИИ.</a>
              <span>26 июля 2019</span>
            </li>
            <li class="article__more-item">
              <a href="">10 ПРИЧИН ПЕРЕЕХАТЬ ЖИТЬ НА ЮГ РОССИИ.</a>
              <span>26 июля 2019</span>
            </li>
          </ul>
          <a href="media.html" class="article__more-link">Показать еще</a>
        </div>
      </div>
    </section>


  </section>
</main>
//= blocks/footer.html
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
<script src="https://yastatic.net/share2/share.js"></script>
<script src="js/main.js"></script>
</body>
</html>
