<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Шаблон</title>
  <meta name="theme-color" content="">
  <meta name="viewport" content="initial-scale=1.0, width=device-width">
  <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700%7COswald:400,500,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
//= blocks/header.html
<main>
  <section class="breadcrumbs">
    <h2 class="visually-hidden">Хлебные крошки</h2>
    <ul class="breadcrumbs__list list-style-none">
      <li class="breadcrumbs__item"><a href="">Главная</a></li>
      <li class="breadcrumbs__item"><a href="">Проекты</a></li>
    </ul>
  </section>
  <section class="layout">
    <div class="main__title-wrapper">
      <h1 class="main__title">фундаментальные работы</h1>
      <span class="main__title-shadow">работы</span>
    </div>
    <p class="main__desc">В нашей базе более 200 качественных проектов домов. Оставьте заявку и специалист подберет Вам 10 проектов домов на выбор, по вашим параметрам.</p>
    <section class="works">
      <h2 class="visually-hidden">Услуги</h2>
      <div class="works__inner">
        <div class="l">
          <div class="works__img" style="background-image: url(img/works_img.png)"></div>
          <div class="works__content">
            <p><b>Наша компания осуществляет фундаментные работы в г. Новороссийске. Нашей бригаде вы можете доверить строительство фундамента для своего будущего дома или коттеджа.</b></p>
            <p>Чтобы основание получилось крепким мы исследуем участок, смотрим на состояние грунта, делаем соответствующие расчёты и разрабатываем проект. Только после основательной подготовки приступаем к бетонным работам.</p>
            <p>Благодаря профессионализму инженеров-проектировщиков мы строим оптимальный вариант фундамента и помогает вам избежать ненужных расходов.</p>
            <div class="works__services">
              <h3>НАШИ УСЛУГИ</h3>
              <ul class="works__list list-style-none">
                <li class="works__item"><a href="">Cтроительство ленточного фундамента;</a></li>
                <li class="works__item"><a href="">Cтроительство ленточно-свайного фундамента;</a></li>
                <li class="works__item"><a href="">Устройство плитного фундамента;</a></li>
                <li class="works__item"><a href="">Устройство столбчатого фундамента;</a></li>
              </ul>
            </div>
            <p>Помимо возведения фундамента дома мы осуществляем и другие работы. Это заливка основания под забор, устройство отмостки, строительство террас, заливка бетонной площадки под парковку, беседку, летнюю кухню.</p>
            <p><b>Будьте внимательны при выборе строительной бригады!</b></p>
            <p>Ошибки при заливке фундамента не всегда проявляют себя сразу. Экономия на арматуре, выбор дешёвого цемента и другие ошибки приведут к снижению несущей способности фундамента.</p>
            <p>Мы строим на совесть, как для себя и отвечаем за результат! При этом наши расценки на фундаментные работы в г Новороссийск – одни из самых лояльных.</p>
            <a href="" class="works__link">ЗАКАЗАТЬ УСЛУГУ</a>
          </div>
        </div>
        <div class="r">
          <h2>Услуги</h2>
          <ul class="works-r__list list-style-none">
            <li><a href="">ФУНДАМЕНТАЛЬНЫЕ РАБОТЫ</a></li>
            <li><a href="">КЛАДОЧНЫЕ  РАБОТЫ</a></li>
            <li><a href="">КРОВЕЛЬНЫЕ РАБОТЫ</a></li>
            <li><a href="">ФАСАДНЫЕ РАБОТЫ</a></li>
            <li><a href="">ИНЖЕНЕРНЫЕ КОММУНИКАЦИИ</a></li>
            <li><a href="">ВНУТРЕННЯЯ ОТДЕЛКА</a></li>
          </ul>
        </div>
      </div>
    </section>

    <section class="callback">
      <div class="main__title-wrapper">
        <h2 class="main__title">Нажмите <span>на кнопку</span></h2>
        <span class="main__title-shadow">связаться</span>
      </div>
      <form action="#">
        <div class="callback__inner">
          <div class="l">
            <a href="">+7 (777) 777-7777</a>
            <a href="">info@GALEX.COM</a>
            <p>Краснодарский край, Новороссийск</p>
          </div>
          <div class="r">
            <div class="callback__inputs-wrapper">
              <input type="text" class="callback__input" placeholder="Имя">
              <input type="text" class="callback__input" placeholder="Имя">
              <input type="text" class="callback__input" placeholder="Имя">
              <input type="text" class="callback__input" placeholder="Имя">
            </div>
            <textarea cols="30" rows="10" class="callback__textarea" placeholder="Сообщение"></textarea>
          </div>
        </div>
        <button type="submit" class="main__btn">отправить</button>
      </form>
    </section>
  </section>
</main>
//= blocks/footer.html
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
