@media (min-width: 1170px) {
  .a-header {
    .header {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 100;
    }

    .breadcrumbs {
      position: absolute;
      left: 0;
      width: 100%;
      top: 80px;
      z-index: 100;
    }
  }
}
