.about-projects {
  padding: 0 15px;
  margin-bottom: 40px;
  overflow: hidden;
  position: relative;
  .main__title {
    text-align: center;
  }

  .slick-arrow {
    font-size: 0;
    padding: 0;
    border: 1px solid #DDDDDD;
    content: '';
    display: block;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;

    background-color: white;
    transition: all 0.3s;
    outline: none;
    &:hover {
      background-color: #F0D8C1;
    }
  }

  .slick-prev {
    background-image: url(../img/slider-left.png);
    top: 0;
    right: 75px;
  }

  .slick-next {
    background-image: url(../img/slider-right.png);
    top: 0;
    right: 0;

  }

}

.about-projects__list {
  padding-top: 80px;
  img {
    width: 100%;
  }
}


@media (min-width: 768px) {
  .about-projects__list {
    padding-top: 80px;
    margin-top: -50px;
    margin-left: -20px;
    margin-right: -20px;
    li {
      margin: 20px;
    }
  }

  .about-projects {
    margin-bottom: 100px;

    .slick-prev {
      top: -30px;
      right: 90px;
      z-index: 30;
    }

    .slick-next {
      right: 15px;
      top:-30px;
      z-index: 30;
    }
  }


}
