.callback {
  padding: 0 15px;
  margin-bottom: 40px;
  .main__title-wrapper {
    padding: 0;
  }

  .main__btn {
    display: flex;
    width: 190px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    box-shadow: 0 15px 34px rgba(0,0,0,.18);
    margin-top: 40px;
    margin-left: auto;
    &::after {
      content: '';
      display: block;
      background-image: url(../img/form_arrow.png);
      width: 14px;
      height: 14px;
      margin-left: 10px;
    }
  }
}

.callback__inner {
  .l {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    text-transform: capitalize;

    color: #767676;
      a {
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        /* identical to box height */
        text-transform: capitalize;

        color: #767676;
        display: block;
        margin-bottom: 15px;
        &:first-child {
          font-size: 18px;
        }
      }

      p {
        margin: 0;
      }
  }

  .r {
    margin-top: 20px;
  }
}

.callback__input {
  background: #F3F3F3;
  border-radius: 10px;
  height: 60px;
  padding: 5px 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  text-transform: capitalize;
  border: 1px solid #F3F3F3;
  color: #999999;
  width: 100%;
  display: block;
  margin-bottom: 10px;
  transition: all 0.3s;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:focus {
    background: white;
    transition: all 0.3s;
    border: 1px solid #C8A481;
  }
  &::placeholder {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    text-transform: capitalize;

    color: #999999;

  }
}

.callback__textarea {
  background: #F3F3F3;
  border-radius: 10px;
  height: 130px;
  padding: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  text-transform: capitalize;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #999999;
  border: 1px solid #F3F3F3;
  width: 100%;
  display: block;
  margin-bottom: 10px;
  transition: all 0.3s;
  outline: none;
  &:focus {
    background: white;
    border: 1px solid #C8A481;
  }
  &::placeholder {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    text-transform: capitalize;

    color: #999999;

  }
}

@media (min-width: 1170px) {
  .callback {
    padding-left: calc(50% - 585px);
    padding-right: calc(50% - 585px);
    overflow-x: hidden;
    form {
      padding-bottom: 50px;
    }
    .main__title-wrapper {
      justify-content: center;
      min-height: 160px;
      overflow: unset;
    }

    .main__title-shadow {
      font-size: 160px;
      left: 50%;
      top: 0;
    }
  }

  .callback__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    .r {
      display: flex;
      margin-top: 0;
    }
  }

  .callback__inputs-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 510px;
  }

  .callback__input {
    width: 245px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .callback__textarea {
    width: 245px;
    min-width: 245px;
  }
}
