.copyright {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  text-transform: capitalize;

  color: #FFFFFF;
  margin-top: 30px;
}


@media (min-width: 1170px) {
  .copyright {
    position: absolute;
    left: 15px;
    bottom: 60px;
  }
}
