.header {
  padding: 15px;
  position: relative;
}

.header__contacts-phone {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #232323;
}

.header__contacts {
  display: none;
}

@media (min-width: 1170px) {
  .header__contacts {
    display: flex;
    align-items: center;
  }

  .header__contacts-phone {
    margin-right: 50px;
  }

  .header {
    display: flex;
    align-items: center;
  }
}
