.main-menu {
  font-family: 'Oswald', sans-serif;
}



.main-menu__list {
  display: none;
  position: absolute;
  width: 100%;
  padding: 15px;
  background-color: white;
  left: 0;
  box-shadow: 0 35px 35px rgba(0,0,0,.2);
  z-index: 100;
}

.main-menu__item {
  display: flex;
  background-color: #C8A481;
  padding: 10px;
  margin-bottom: 1px;
  a {
    font-weight: 500;
    font-size: 12.96px;
    text-transform: uppercase;
    color: white;
  }
}

.main-menu__btn {
  position: absolute;
  right: 10px;
  top: 5px;
  outline: none;
}

@media (min-width: 1170px) {
  .main-menu__btn {
    display: none;
  }

  .main-menu__list {
    display: flex;
    position: relative;
    box-shadow: none;
    padding: 0;
  }

  .main-menu__item {
    background-color: transparent;
    padding: 0;
    margin-right: 45px;
    a {
      color: #232323;
      transition: all 0.3s;
      &:hover {
        color: #C8A481;
      }
    }
  }

  .main-menu {
    margin-left: auto;
  }
}
