.social__list {
  display: flex;
  margin-left: -5px;
  margin-right: -5px;
  margin-top: 30px;
}

.social__item {
  a {
    display: flex;
    content: '';
    width: 30px;
    height: 30px;
    margin: 0 5px;
    background-position: center;
    background-repeat: no-repeat;
  }
}
