@import "./partials/normalize.scss";
@import "./partials/list-style-none.scss";
@import "./partials/visually-hidden.scss";
@import "./partials/slick.scss";
@import "./partials/cmn-toggle-switch.scss";
@import "partials/header";
@import "partials/main-menu";
@import "partials/breadcrumbs";
@import "partials/pagination";
@import "partials/callback";
@import "partials/footer";
@import "partials/social";
@import "partials/copyright";
@import "partials/filter";
@import "partials/projects";


body {
  font-family: 'Montserrat', sans-serif;

  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
  color: black;
  font-size: 16px;
  }

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

.main__btn {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  color: #FFFFFF;
  border: none;
  background: #C8A481;
  border-radius: 30px;
  padding: 17.5px 20px;
  text-transform: uppercase;
}

.main__title-wrapper {
  position: relative;
  padding: 0 15px;
  overflow-x: hidden;
  min-height: 120px;
  display: flex;
  align-items: center;
}

.main__title {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  /* identical to box height */
  letter-spacing: 0.32em;
  text-transform: uppercase;

  color: #2C2C2C;
  position: relative;
  z-index: 20;

  span {
    color: #C29F7E;
  }
}


.main__title-shadow {
  font-weight: 600;
  font-size: 120px;
  text-transform: lowercase;
  line-height: 120px;
  color: #F7F7F7;
  position: absolute;
  top: -25px;
  left: 0;
}

.main__desc {
  padding: 0 15px;
  font-size: 16px;
  line-height: 23px;
  /* or 144% */

  color: #3A3A3A;
}
