<footer class="footer">
  <a href="" class="logo">
    <img src="img/logo_footer.png" alt="">
  </a>
  <ul class="footer-menu__list list-style-none">
    <li class="footer-menu__item"><a href="sites.html">УЧАСТКИ</a></li>
    <li class="footer-menu__item"><a href="">о нас</a></li>
    <li class="footer-menu__item"><a href="house.html">ДОМА</a></li>
    <li class="footer-menu__item"><a href="index.html">проекты</a></li>
    <li class="footer-menu__item"><a href="media.html">МЕДИА</a></li>
    <li class="footer-menu__item"><a href="service.html">УСЛУГИ</a></li>
    <li class="footer-menu__item"><a href="contacts.html">КОНТАКТЫ</a></li>
  </ul>
  <div class="footer__contacts">
    <a href="" class="footer__contacts-phone">+7 495 150 54 96</a>
    <p class="footer__contacts-time">еЖЕДНЕВНО С 9:00 - 21:00</p>
    <ul class="social__list list-style-none">
      <li class="social__item"><a href="" style="background-image: url(img/yt_i.png)"></a></li>
      <li class="social__item"><a href="" style="background-image: url(img/inst_i.png)"></a></li>
      <li class="social__item"><a href="" style="background-image: url(img/vk_i.png)"></a></li>
    </ul>
  </div>
  <p class="copyright">© gALEX.Inc 2019. all Rights Reserved.</p>
</footer>
